* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: hsl(158, 36%, 37%);
    --secondary-color: hsla(228, 12%, 48%);
    --tertiary-color: hsl(212, 21%, 14%);
    --body-color: hsl(30, 38%, 92%);
    font-size: 10px;
}

body {
    align-items: center;
    background-color: var(--body-color);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    justify-content: center;
    min-height: 100vh;
    padding: 3rem 1.8rem;
}

section {
    --border-radius: 1rem;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: block;
    width: 100%;
}

.content {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

header p {
    letter-spacing: 0.4rem;
    color: var(--secondary-color);
}

h1 {
    --vartical-padding: 1.2rem;
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    line-height: 1;
    padding-top: var(--vartical-padding);
    padding-bottom: calc(var(--vartical-padding) + 0.2rem);
}

p, span {
    color: var(--tertiary-color);
}

header + p {
    line-height: 1.6;
}

.price {
    align-items: center;
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.4rem;
}

.actual-price {
    color: var(--primary-color);
    font-family: 'Fraunces', serif;
    font-size: 3rem;
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.8rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 1.5rem;
    width: 100%;
}

button:hover {
    background-color: hsl(156deg 42% 18%);
}

button::before {
    content: url('images/icon-cart.svg');
}

.attribution {
    background-color: rgba(255, 255, 255, .8);
    bottom: 0;
    font-size: .9rem;
    padding: 0.5rem;
    position: fixed;
    text-align: center;
    width: 100vw;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (orientation: landscape) and (min-width: 800px) {
    section {
        flex-direction: row;
        width: 55rem;
    }

    img {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--border-radius);
    }

    .content {
        justify-content: space-between;
        width: 100%;
    }
}